body {
    text-align: center;
    background-color: lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 10px solid;
    color: black;
}
